.flex-container {
    display: flex;
    
}

.board {
    flex-direction: column;

    .header-container {
        justify-content: center;
    }

        .column-container {
            justify-content: space-around;
            flex-wrap: wrap;
        }
        .column {
            flex-direction: column;
            border: 2px solid black;
            border-radius: 2%;
            height: 100%;
            width: 350px;
            margin-top: 20px;

            .column-card-list-container {
                flex-wrap: wrap;

                .column-card-list {
                    list-style-type: none;
                    flex-wrap: wrap;
                    

                    li {
                        border: 1px solid orange;
                        border-radius: 3%;
                        width: 250px;
                        margin: {
                            top: 10px;
                            left: 10px;
                        } 
                    }
                }
            }

            .column-title-container {
                justify-content: center;
            }

            .btn-container {
                //align-content: flex-end;
                justify-items: center;
            }
            
        }
}

.card {
    justify-content: space-between;
    flex-wrap: nowrap;
    
        .card-description-container {
            flex-wrap: wrap;
            max-width: 100%;
            width: 350px;
            background-color:orange;

            .card-description {
                margin-left: 10px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .btn-item {
            background-color: orange;
        }

}

.btn {
    border: none;
    cursor: pointer;
}